.flex-centre {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 80px 170px;
}

.about-title {
  position: relative;
}

.about-title h1 {
  padding: 0 30px;
  font-size: 80px;
  font-weight: 600;
}

.about-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.about-section {
  display: flex;
  gap: 80px;
  flex-direction: column;
}

.about-para {
  gap: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
}

.skills-heading {
  font-size: 24px;
}

.about-skills {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-skill {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  row-gap: 50px;
  align-items: center;
}

.about-skill p {
  min-width: 150px;
  font-size: 24px;
  font-weight: 500;
  transition: 0.3s;
  text-decoration: none;
}

.about-skill p:hover {
  transform: scale(1.05);
  text-decoration: underline dashed;
}

.achievement-text:hover {
  transform: scale(1.12);
}

.Wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  width: 80vw; /* Consider making this responsive instead of a fixed width */
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0%/0),
    hsl(0 0% 0%/1) 10%,
    hsl(0 0% 0%/1) 90%,
    hsl(0 0% 0%/0)
  );
}

@keyframes scrollX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(
      -100%
    ); /* Move it halfway to allow seamless transition */
  }
}

.MarqueeGroup {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: 200%; /* Span two entire widths of the container */
  animation: scrollX 30s linear infinite;
}

.ImageGroup {
  display: grid;
  place-items: center;
  width: clamp(10rem, 1rem + 40vmin, 30rem);
  padding: calc(clamp(10rem, 1rem + 30vmin, 30rem) / 10);
}

.Image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  aspect-ratio: 1;
  padding: 5px 20px;
}
