@media (max-width: 768px) {
  .contact {
    margin: 20px 50px;
  }

  .contact-title h1 {
    font-size: 42px;
  }

  .contact-title img {
    width: 130px;
    right: -20px;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  .contact-section-left h1 {
    font-size: 30px;
  }

  .contact-section-left p {
    font-size: 16px;
    line-height: 32px;
  }

  .contact-section-right label {
    font-size: 14px;
  }

  .contact-section-right input {
    width: 100%;
    font-size: 14px;
  }

  .contact-section-right textarea {
    font-size: 14px;
    width: 95%;
  }

  .contact-submit,
  .submit-again-button {
    font-size: 16px;
    padding: 10px 40px;
    margin-bottom: 30px;
  }

  .contact-form-submitted-text {
    font-size: 26px;
  }
}
