.footer {
  padding: 10px;
  background-color: #233464;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text p {
  font-size: 24px;
  font-weight: 500;
}

/*Reponsive*/

@media (max-width: 768px) {
  .footer {
    padding: 6px;
  }

  .footer-text p {
    font-size: 18px;
    font-weight: 300;
  }
}
